* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }
.wrap article:last-child {
  margin-right: 0; }

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
  z-index: 1; }
  header .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .inner h1 {
      text-align: center; }
      header .inner h1 a {
        display: inline-block;
        width: 50px;
        height: 50px;
        opacity: 0.6;
        transition: .3s; }
        header .inner h1 a:hover {
          opacity: 1; }
        header .inner h1 a img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    header .inner #gnb {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 0; }
      header .inner #gnb li {
        margin-bottom: 7px; }
        header .inner #gnb li a {
          font: bold 14px/1 'arial';
          color: #fff;
          letter-spacing: 1px;
          opacity: .6;
          transition: .5s; }
          header .inner #gnb li a:hover {
            opacity: 1; }

#visual {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  position: relative; }
  #visual h1 {
    font: bold 200px/1 'arial';
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    position: relative;
    z-index: 2; }
  #visual .pic {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 50%;
    background: #555; }

#main .intro {
  margin-bottom: 200px; }
  #main .intro h1 {
    font: 30px/1 'arial';
    color: #fff;
    text-align: center;
    margin-bottom: 30px; }
  #main .intro p {
    width: 60%;
    margin: 0 auto;
    font: 100 11px/1.4 'arial';
    color: #ddd;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 50px; }
  #main .intro .wrap {
    width: 80%;
    margin: 0 auto; }
    #main .intro .wrap article {
      float: left;
      width: 25%;
      text-align: center;
      font-size: 0; }
      #main .intro .wrap article h2 {
        font: normal 65px/1 'arial';
        color: #dddd4d;
        margin-bottom: 20px; }
      #main .intro .wrap article h3 {
        font: normal 18px/1 'arial';
        color: #fff; }
#main .contents article {
  margin-bottom: 100px; }
  #main .contents article .wrap .con {
    float: left;
    width: 60%;
    padding-left: 100px;
    padding-top: 100px;
    position: relative; }
    #main .contents article .wrap .con .num {
      font: bold 150px/1 'arial';
      color: orangered;
      letter-spacing: -10px;
      opacity: 0.1;
      position: absolute;
      top: 0px;
      left: 0px; }
    #main .contents article .wrap .con h1 {
      font: bold 11px/1 'arial';
      color: orangered;
      opacity: .4;
      margin-bottom: 10px; }
      #main .contents article .wrap .con h1::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        background: orangered;
        opacity: .4;
        margin-bottom: 4px;
        margin-right: 5px; }
    #main .contents article .wrap .con h2 {
      font: 20px/1.2 'arial';
      color: #fff;
      letter-spacing: 2px;
      margin-bottom: 10px; }
    #main .contents article .wrap .con p {
      font: lighter 10px/1.2 'arial';
      color: #fff;
      opacity: .5;
      margin-bottom: 10px; }
    #main .contents article .wrap .con a {
      font: 11px/1 'arial';
      color: orangered;
      opacity: .5;
      transition: .5s; }
      #main .contents article .wrap .con a:hover {
        opacity: .8; }
      #main .contents article .wrap .con a span {
        display: inline-block;
        width: 15px;
        height: 1px;
        background: orangered;
        margin-left: 10px;
        margin-bottom: 3px;
        position: relative; }
        #main .contents article .wrap .con a span::before, #main .contents article .wrap .con a span::after {
          content: '';
          display: block;
          width: 5px;
          height: 1px;
          background: inherit;
          position: absolute;
          right: 0;
          bottom: 0;
          transform-origin: right center; }
        #main .contents article .wrap .con a span::before {
          transform: rotate(45deg); }
        #main .contents article .wrap .con a span::after {
          transform: rotate(-45deg); }
  #main .contents article .wrap .pic {
    float: right;
    width: 30%;
    height: 400px;
    background: #bbb;
    opacity: 0.6; }
  #main .contents article:nth-of-type(2) .wrap .con {
    float: right; }
  #main .contents article:nth-of-type(2) .wrap .pic {
    float: left; }
  #main .contents article:last-child {
    margin-bottom: 0; }

.visual {
  width: 100%;
  height: 500px;
  background: #555;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  width: 100%;
  background: #333; }
  main .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 200px 0; }

/*# sourceMappingURL=style.css.map */
