* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
  z-index: 1; }
  header .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .inner h1 {
      text-align: center; }
      header .inner h1 a {
        display: inline-block;
        width: 50px;
        height: 50px;
        opacity: 0.6;
        transition: .3s; }
        header .inner h1 a:hover {
          opacity: 1; }
        header .inner h1 a img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    header .inner #gnb {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 0; }
      header .inner #gnb li {
        margin-bottom: 7px; }
        header .inner #gnb li a {
          font: bold 14px/1 'arial';
          color: #fff;
          letter-spacing: 1px;
          opacity: .6;
          transition: .5s; }
          header .inner #gnb li a:hover {
            opacity: 1; }

body {
  background: #111; }

main {
  width: 100%; }
  main .inner {
    width: 1180px;
    min-height: calc(100vh - 50px);
    margin: 0 auto;
    padding: 200px 0 100px; }

#visual {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  #visual video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #visual h1 {
    font: bold 80px/1 'arial';
    color: transparent;
    -webkit-text-stroke: 1px orangered;
    position: relative;
    z-index: 1; }

#main .intro {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  #main .intro h1 {
    font: 30px/1 'arial';
    color: #fff;
    margin-bottom: 30px; }
  #main .intro p {
    width: 60%;
    margin: 0 auto;
    font: 100 11px/1.4 'arial';
    color: #ddd;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 50px; }
  #main .intro .wrap {
    width: 80%;
    display: flex; }
    #main .intro .wrap article {
      width: 25%;
      text-align: center;
      font-size: 0; }
      #main .intro .wrap article h2 {
        font: normal 65px/1 'arial';
        color: #dddd4d;
        margin-bottom: 20px; }
      #main .intro .wrap article h3 {
        font: normal 18px/1 'arial';
        color: #fff; }
#main .contents article {
  margin-bottom: 100px; }
  #main .contents article .wrap {
    display: flex;
    justify-content: space-between; }
    #main .contents article .wrap .con {
      width: 60%;
      padding-left: 100px;
      padding-top: 100px;
      position: relative; }
      #main .contents article .wrap .con .num {
        font: bold 150px/1 'arial';
        color: orangered;
        letter-spacing: -10px;
        opacity: 0.1;
        position: absolute;
        top: 0px;
        left: 0px; }
      #main .contents article .wrap .con h1 {
        font: bold 11px/1 'arial';
        color: orangered;
        opacity: .4;
        margin-bottom: 10px; }
        #main .contents article .wrap .con h1::before {
          content: '';
          display: inline-block;
          width: 30px;
          height: 2px;
          background: orangered;
          opacity: .4;
          margin-bottom: 4px;
          margin-right: 5px; }
      #main .contents article .wrap .con h2 {
        font: 20px/1.2 'arial';
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 10px; }
      #main .contents article .wrap .con p {
        font: lighter 10px/1.2 'arial';
        color: #fff;
        opacity: .5;
        margin-bottom: 10px; }
      #main .contents article .wrap .con a {
        font: 11px/1 'arial';
        color: orangered;
        opacity: .5;
        transition: .5s; }
        #main .contents article .wrap .con a:hover {
          opacity: .8; }
        #main .contents article .wrap .con a span {
          display: inline-block;
          width: 15px;
          height: 1px;
          background: orangered;
          margin-left: 10px;
          margin-bottom: 3px;
          position: relative; }
          #main .contents article .wrap .con a span::before, #main .contents article .wrap .con a span::after {
            content: '';
            display: block;
            width: 5px;
            height: 1px;
            background: inherit;
            position: absolute;
            right: 0;
            bottom: 0;
            transform-origin: right center; }
          #main .contents article .wrap .con a span::before {
            transform: rotate(45deg); }
          #main .contents article .wrap .con a span::after {
            transform: rotate(-45deg); }
    #main .contents article .wrap .pic {
      width: 30%;
      height: 400px;
      background: #bbb;
      opacity: 0.6; }
  #main .contents article:last-child {
    margin-bottom: 0; }

.youtube ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }
  .youtube ul li {
    width: 50%;
    height: 300px;
    padding: 20px; }
    .youtube ul li:hover iframe {
      filter: grayscale(0%); }
    .youtube ul li iframe {
      width: 100%;
      height: 100%;
      filter: grayscale(80%); }
.youtube img {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-top: 100px; }

.gallery ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery ul li {
    width: 30%;
    margin-bottom: 20px;
    cursor: pointer; }
    .gallery ul li:hover .pic {
      filter: grayscale(0%); }
      .gallery ul li:hover .pic img {
        transform: scale(1.03); }
    .gallery ul li:hover h1 {
      opacity: 1; }
    .gallery ul li .pic {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
      filter: grayscale(90%);
      transition: .5s; }
      .gallery ul li .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 5px;
        transition: .5s; }
    .gallery ul li h1 {
      font: 300 14px/1 'arial';
      color: #fff;
      text-align: center;
      opacity: .6;
      transition: .5s; }
.gallery .loadingImg {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-top: 100px; }

.join {
  height: calc(100vh - 50px);
  overflow: hidden; }
  .join .inner {
    height: 100%;
    display: flex; }
    .join .inner .left {
      width: 40%;
      height: 100%;
      background: #bbb;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .join .inner .left h1 {
        font: bold 30px/1 'arial';
        color: #fff;
        margin-bottom: 20px; }
      .join .inner .left p {
        width: 80%;
        font: 14px/1.4 'arial';
        color: #fff;
        opacity: 0.6;
        text-align: center;
        margin-bottom: 30px; }
      .join .inner .left h2 {
        font: 14px/1.2 'arial';
        color: #fff;
        opacity: 0.7;
        margin-bottom: 20px; }
      .join .inner .left a {
        display: block;
        width: 120px;
        height: 35px;
        border-radius: 6px;
        border: 1px solid #eee;
        font: 14px/33px 'arial';
        color: #fff;
        text-align: center;
        transition: .5s; }
        .join .inner .left a:hover {
          background: #eee;
          color: #888; }
    .join .inner .right {
      width: 60%;
      height: 100%;
      padding: 60px 50px; }
      .join .inner .right form {
        width: 100%;
        height: 100%; }
        .join .inner .right form fieldset {
          width: 100%;
          height: 100%;
          border: none; }
          .join .inner .right form fieldset legend {
            font-size: 0;
            text-indent: -9999px; }
          .join .inner .right form fieldset ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .join .inner .right form fieldset ul li {
              width: 100%; }
              .join .inner .right form fieldset ul li:nth-of-type(1) div {
                width: 50%;
                display: inline-block; }
                .join .inner .right form fieldset ul li:nth-of-type(1) div:nth-of-type(1) {
                  width: 40%;
                  margin-right: 10%; }
              .join .inner .right form fieldset ul li label {
                display: block;
                margin-bottom: 5px;
                font: 15px/1 'arial';
                color: #fff; }
              .join .inner .right form fieldset ul li input[type=text], .join .inner .right form fieldset ul li input[type=password] {
                width: 100%;
                height: 50px;
                padding: 10px;
                font: 16px/50px 'arial';
                color: #111; }
                .join .inner .right form fieldset ul li input[type=text]:focus, .join .inner .right form fieldset ul li input[type=password]:focus {
                  outline: none; }
              .join .inner .right form fieldset ul li input[type=submit] {
                width: 100%;
                height: 50px;
                border: none;
                background: orangered;
                font: 14px/50px 'arial';
                color: #fff;
                opacity: 0.7;
                transition: .5s;
                cursor: pointer; }
                .join .inner .right form fieldset ul li input[type=submit]:hover {
                  opacity: 1; }

footer {
  width: 100%;
  height: 50px;
  font: lighter 10px/50px 'arial';
  color: #fff;
  opacity: 0.6;
  letter-spacing: 2px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
