#visual{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    
    video{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .intro{
        width: 50%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;

        h1{
            font: 30px/1 'arial';
            color: #fff;
            margin-bottom: 30px;
        }
        p{
            margin: 0 auto;
            font: 100 11px/1.4 'arial';
            color: #ddd;
            text-align: center;
            letter-spacing: 1px;
            margin-bottom: 50px;
        }
        .wrap{
            width: 100%;
            display: flex;
    
            article{
                width: 25%;
                text-align: center;
                font-size: 0;
    
                h2{
                    font: normal 65px/1 'arial';
                    color: rgb(221, 221, 77);
                    margin-bottom: 20px;
                }
                h3{
                    font: normal 18px/1 'arial';
                    color: #fff;
                }
            }
        }
    }
}

#main{
    .contents{
        article{
            margin-bottom: 100px;

            .wrap{
                display: flex;
                justify-content: space-between;

                .con{
                    width: 60%;
                    padding-left: 100px;
                    padding-top: 100px;
                    position: relative;

                    .num{
                        font: bold 150px/1 'arial';
                        color: orangered;
                        letter-spacing: -10px;
                        opacity: 0.1;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }
                    h1{
                        font: bold 11px/1 'arial';
                        color: orangered;
                        opacity: .4;
                        margin-bottom: 10px;

                        &::before{
                            content: '';
                            display: inline-block;
                            width: 30px;
                            height: 2px;
                            background: orangered;
                            opacity: .4;
                            margin-bottom: 4px;
                            margin-right: 5px;
                        }
                    }
                    h2{
                        font: 20px/1.2 'arial';
                        color: #fff;
                        letter-spacing: 2px;
                        margin-bottom: 10px;
                    }
                    p{
                        font: lighter 10px/1.2 'arial';
                        color: #fff;
                        opacity: .5;
                        margin-bottom: 10px;
                    }
                    a{
                        font: 11px/1 'arial';
                        color: orangered;
                        opacity: .5;
                        transition: .5s;

                        &:hover{opacity: .8;}
                        span{
                            display: inline-block;
                            width: 15px;
                            height: 1px;
                            background: orangered;
                            margin-left: 10px;
                            margin-bottom: 3px;
                            position: relative;

                            &::before, &::after{
                                content: '';
                                display: block;
                                width: 5px;
                                height: 1px;
                                background: inherit;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                transform-origin: right center;
                            }
                            &::before{
                                transform: rotate(45deg);
                            }
                            &::after{
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
                .pic{
                    width: 30%;
                    height: 400px;
                    opacity: 0.6;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: .8;
                    }
                }
            }
            &:last-child{margin-bottom: 0;}
        }
    }
}
