*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrap{
    &::after{
        content: '';
        display: block;
        clear: both;
    }
    article{
        &:last-child{
            margin-right: 0;
        }
    }
}