@charset 'utf-8';
@import 'reset';

@import "header";
@import "main";

.visual{
    width: 100%;
    height: 500px;
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    background: #333;

    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 200px 0;
    }
}