@charset 'utf-8';
@import 'reset';

@import "header";

body{
    background: #333;
}
main{
    width: 100%;

    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 200px 0;
    }
}

@import "main";
@import "join";

@import "footer";
